<div>
  <h3>{{ product.name  | uppercase}} <span style="color: red;">{{ product.onSale ? '- Em promoção  ' : '' }}</span></h3>
  <p>{{ product.description }}</p>
  <div *ngIf="product.onSale">
    <strong style="text-decoration: line-through;">
      {{ product.price | currency:'BRL' }}
    </strong>
    <strong style="color: green; margin-left: 10px;">
      {{ discountedPrice | currency:'BRL' }}
    </strong>
  </div>
  <div *ngIf="!product.onSale">
    <p>{{ product.price | currency:'BRL' }}</p>
  </div>
  <p>Data de lançamento: {{ product.launchDate | date:'dd/MM/yyyy' }}</p>
  <p>Status: {{ product.available }}</p>
</div>
